<div class="container-fluid">
  <div class="row">
    <ul class="nav nav-pills nav-fill">
      <div class="col-md-1" style="padding-top: 5px">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/doctorHome' , id]">
            <img src="app/Images/Company-Logo.png" alt="Company-Logo" height="80" width="100" style="padding : 5px 5px;">
          </a>
        </li>

      </div>

      <div class="col-md-2" style="margin-left: 50px">

        <div class="container">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Appointments
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a [ngStyle]="pointer()" data-toggle="modal" data-target="#pastAppointments" (click)="showPastAppointmentsClicked($event)">
                  Past Appointments </a>
              </li>
              <li>
                <a [ngStyle]="pointer()" data-toggle="modal" data-target="#pastAppointments" (click)="ShowAppointmentsForTodayClicked($event)">
                  More Appointments </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-2">

        <li class="nav-item">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#patientReviews" (click)="ShowReviewsClicked($event)"
            style="width: 123.5px;"> Reviews </button>
        </li>

      </div>

      <div class="col-md-2">

        <li class="nav-item">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#patientLabReports" (click)="ShowLabReportsClicked($event)"
            style="width: 123.5px;"> Lab Reports </button>
        </li>

      </div>

      <div class="col-md-2">

        <div class="container">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" style="width: 123.5px;" data-toggle="dropdown">Settings
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#" data-toggle="modal" data-target="#doctorProfile" (click)="DoctorProfileClicked($event)"> Profile </a>
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#updatePassword" (click)="updatePasswordClicked()"> Update Password </a>
              </li>
              <li>
                <a [routerLink]="['/doctorHome/'+ id +'/availability']"> Add Availability </a>
              </li>
              <li>
                <a [routerLink]="['/doctorHome/'+ id +'/showAvailability']"> View/Delete Availability </a>
              </li>
              <li>
                <a [ngStyle]="pointer()" (click)="logOut()"> Log Out </a>
              </li>

            </ul>
          </div>
        </div>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
          <div class="dropdown-menu">
            <div class="row" style="padding-bottom: 5px;margin-left: 15px">
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
            <div class="row" style="margin-left: 15px">
              <a class="dropdown-item" href="#">Edit Profile</a>
            </div>
          </div>
        </li> -->

      </div>

    </ul>
  </div>
</div>

<div></div>

<router-outlet></router-outlet>


<!-- Modal View for More Appointments -->
<div id="pastAppointments" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-color: #f7f7f7; padding-bottom: 0px;">
        <h2 class="modal-title"> {{modalTitle}} </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="overflow-x: hidden; overflow-y: auto; height:35em;">
        <ng-container *ngIf="patientAppointments && patientAppointments.length; else emptyAppointments">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-3"> Patient Name </th>
                <th class="col-md-3"> Date </th>
                <th class="col-md-6"> Reason </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let appointment of patientAppointments">
                <td class="col-md-3"> {{appointment.patientName}} </td>
                <td class="col-md-3"> {{appointment.dateFromDb | date:'medium'}} </td>
                <td class="col-md-6"> {{appointment.reason}} </td>
              </tr>
            </tbody>

          </table>
        </ng-container>

        <ng-template #emptyAppointments>
          <h2> No Appointments to display </h2>
        </ng-template>


        <!-- </div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- Modal View for Reviews -->
<div id="patientReviews" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-color: #f7f7f7; padding-bottom: 0px;">
        <h2 class="modal-title">All Reviews about You</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style=" overflow-x: hidden; overflow-y: auto; max-height:35em;">
        <ng-container *ngIf="patientReviews && patientReviews.length; else emptyReviews">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-2"> Patient Name </th>
                <th class="col-md-2"> Date </th>
                <th class="col-md-6"> Review </th>
                <th class="col-md-2"> Rating </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let review of patientReviews">
                <td class="col-md-2"> {{review.patientName}} </td>
                <td class="col-md-2"> {{review.reviewDate | date:'medium'}} </td>
                <td class="col-md-6"> {{review.review}} </td>
                <td class="col-md-2">
                  <rating [(ngModel)]="review.rating" [max]="5" [readonly]="true" [float]="true"></rating>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-template #emptyReviews>
          <h4 class="card-title">No Reviews To display</h4>
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- Modal view for Patient Lab Reports -->
<div id="patientLabReports" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-color: #f7f7f7; padding-bottom: 0px;">
        <h2 class="modal-title">Patient Lab Reports</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="overflow-x: hidden; overflow-y: auto; max-height:35em;">

        <ng-container *ngIf="patientLabReports && patientLabReports.length; else emptyReports">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-2"> Patient ID </th>
                <th class="col-md-3"> Patient Name </th>
                <th class="col-md-3"> PickUp Date </th>
                <th class="col-md-4"> Report Type </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let labReport of patientLabReports">
                <td class="col-md-2"> {{labReport.memberId}} </td>
                <td class="col-md-3"> {{labReport.patientName}} </td>
                <td class="col-md-3"> {{labReport.pickupDate | date:'medium'}} </td>
                <td class="col-md-4"> {{labReport.reportType}} </td>
              </tr>

            </tbody>
          </table>
        </ng-container>
        <ng-template #emptyReports>
          <h4 class="card-title">No Patient Lab Reports To PickUp</h4>
        </ng-template>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






<!-- Modal View for Update Password -->
<div id="updatePassword" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-color: #f7f7f7; padding-bottom: 0px;">
        <h2 class="modal-title"> Update Password </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="container-fluid">
        <div class="row-fluid" [hidden]="!hasMessage">
          <ng-container *ngIf="passwordSuccessMsg; else passwordErrorMsg">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success">
              <button type="button" class="close" (click)="clearError()" data-dismiss="modal">
                &times;
              </button>
              <span>
                {{passwordSuccessMsg}}
              </span>
            </div>
          </ng-container>
          <ng-template #errorMessage>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger">
              <button type="button" class="close" (click)="clearError()">
                &times;
              </button>
              <span>
                {{passwordErrorMsg}}
              </span>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="modal-body">

        <form (ngSubmit)="updatePassword()" #passwordChange="ngForm">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="doctor.password" name="password" pattern="(?=^.{6,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              placeholder="Password" required>
            <small id="passwordHelp" class="form-text">Password should be atleast 6 characters. Must have atleast one uppercase, lowercase, special character and number.</small>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="doctor.confirmPassword" name="confirmPassword"
              placeholder="Confirm Password" pattern="(?=^.{6,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
            <div [hidden]="passwordMatch">
              <small id="passwordHelp" class="form-text">Password do not match.</small>
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!passwordChange.form.valid">Submit</button>
          <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






<!-- Modal View for doctor profile -->
<div id="doctorProfile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header" style="background-color: #f7f7f7; padding-bottom: 0px;">
        <h2 class="modal-title">{{profileModalTitle}}</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="container-fluid">
        <div class="row-fluid" [hidden]="!hasMessage">
          <ng-container *ngIf="this.updateResponse.successMessage; else errorMessage">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success">
              <button type="button" class="close" (click)="clearError()" data-dismiss="modal">
                &times;
              </button>
              <span>
                {{editDocProfileMessage}}
              </span>
            </div>
          </ng-container>
          <ng-template #errorMessage>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger">
              <button type="button" class="close" (click)="clearError()">
                &times;
              </button>
              <span>
                {{editDocProfileMessage}}
              </span>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="modal-body" style="overflow-x: hidden; overflow-y: auto; max-height:35em;">

        <div class="container">
          <form (ngSubmit)="editDoctorProfile()" #docProfile="ngForm">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" [(ngModel)]="doctorProfile.doctorFirstName" name="firstname" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)*$"
                required>
            </div>

            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" [(ngModel)]="doctorProfile.doctorLastName" name="lastname" pattern="^[a-zA-Z]+(\s[a-zA-Z]+)*$"
                required>
            </div>

            <div class="form-group">
              <label for="education">Education</label>
              <input type="text" class="form-control" id="education" [(ngModel)]="doctorProfile.education" name="education" pattern="^[a-zA-Z.]+(,\s[a-zA-Z.]+)*$"
                required>
            </div>

            <div class="form-group">
              <label for="affiliatedHospital">Hospital Affiliations</label>
              <input type="text" class="form-control" id="affiliatedHospitals" [(ngModel)]="doctorProfile.hospitalAffliation" name="affiliatedHospital"
                pattern="^[a-zA-Z]+(\s[a-zA-Z]+)*$" required>
            </div>

            <div class="form-group">
              <label for="languages">Languages Spoken</label>
              <input type="text" class="form-control" id="languages" [(ngModel)]="doctorProfile.languagesSpoken" name="languages" pattern="^[a-zA-Z,].*$"
                required>
            </div>

            <div class="form-group">
              <label for="certifications">Board Certifications</label>
              <input type="text" class="form-control" id="certifications" [(ngModel)]="doctorProfile.boardCertification" name="certifications"
                pattern="([a-zA-Z]+(\s[a-zA-Z])).*" required>
            </div>

            <div class="form-group">
              <label for="memberships">Professional Memberships</label>
              <input type="text" class="form-control" id="memberships" [(ngModel)]="doctorProfile.professionalMemberships" name="memberships"
                pattern="([a-zA-Z]+(\s[a-zA-Z])).*" required>
            </div>

            <div class="form-group">
              <label for="affiliatedInsurance">In-Network Insurances</label>
              <input type="text" class="form-control" id="affiliatedInsurance" [(ngModel)]="doctorProfile.affiliatedInsurance" name="affiliatedInsurance"
                pattern="([a-zA-Z]+(\s[a-zA-Z])).*" required>
            </div>

            <div class="form-group">
              <label for="specialties">Specialties</label>
              <input type="text" class="form-control" id="specialties" [(ngModel)]="doctorProfile.specialities" name="specialities" pattern="([a-zA-Z]+(\s[a-zA-Z])).*"
                required>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!docProfile.form.valid || hasError">Submit</button>
            <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </form>
        </div>


      </div>

    </div>
  </div>
</div>
